.menu {
  background-color: DimGray;
  position: fixed;
  width: var(--menu-width);
  top:10px;
  bottom:10px;
  display: flex;
  flex-direction: column;
  row-gap: var(--menu-row-gap);
  /*padding-top: 2vh;*/
  padding: 1vh;
  border-radius: 20px;

  /*hide scroll but keep functionality*/
  overscroll-behavior: contain;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
          
.tutorial {
  display: grid;
  grid-template-columns: var(--menu-width) var(--steps-width);
  column-gap: var(--tutorial-column-gap);
}

