
.menu {
  position: fixed;
  width: var(--menu-width);
  top:0;
  bottom:0;
  display: flex;
  flex-direction: column;
  row-gap: var(--menu-row-gap);

  /*hide scroll but keep functionality*/
  overscroll-behavior: contain;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
          
.tutorial {
  display: grid;
  grid-template-columns: var(--menu-width) 50%;
  column-gap: var(--tutorial-gap);
}

