/*.on:hover > svg {*/
/*  fill: darkseagreen;*/
/*  cursor: pointer;*/
/*}*/

.off > svg {
  fill: antiquewhite;
}

.off:hover > svg {
  fill: gainsboro;
  cursor: pointer;
}

button {
  display: flex;
  /*background-color: rgba(255,255,255,0.1) !important;*/
  background-color: transparent !important;
  height: var(--toggler-size);
  width:  var(--toggler-size) !important;
  padding: 0 !important;
  margin: auto;
  align-items: center;
}

