.container {
  background-color: cyan;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: var(--menu-width);

}

.container > label {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: orange;
}

.container > label  {
  display: block; /* Makes the label behave like a block element */
  padding:var(--menu-padding);
}

.container > label > input {
  background-color: green;
  display: block; /* Optional: Ensures input spans the full width if needed */
  width: 90%; /* Optional: For full-width inputs */
}
/*.optn {*/
/**/
/*}*/

