.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--menu-row-gap);
  width: var(--menu-width);
}

.container > label {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #586674;
}

.container > label  {
  display: block; /* Makes the label behave like a block element */
  padding:var(--menu-padding);
}

.container > label > input {
  display: block; /* Optional: Ensures input spans the full width if needed */
  width: 100%; /* Optional: For full-width inputs */
  box-sizing: border-box;
}

