
.legend {
  padding: 5px 0px 0px 10px;
  border-radius: 20px;
  background-color: #333333;
  align-items: center; 
  display: grid;
  grid-template-columns: 7% 85% 8%;
}

pre {
  border-radius: 0 0 20px 20px;
  overflow-x: auto;
  padding: 11px 0px 11px 33px;
  background-color: #404040;
  overflow-x: hidden;
  align-items: center;
  /*display:grid;*/
  /*grid-template-columns: 95% 5%;*/
}

.block {
  background-color: #333333;
  border-radius: 20px;
  width: var(--step-width);
}
